<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>display</key>
		<true/>
		<key>content</key>
		<array>
			<dict>
				<key>serverKeyName</key>
				<string>姓名</string>
				<key>serverKey</key>
				<string>name</string>
				<key>placeholder</key>
				<string>请填写真实姓名</string>
				<key>checkRegexp</key>
				<string>[\u4e00-\u9fa5]{2,}</string>
				<key>checkErrorMessage</key>
				<string>请填写真实姓名</string>
			</dict>
			<dict>
				<key>serverKeyName</key>
				<string>身份证号码</string>
				<key>serverKey</key>
				<string>cn_card</string>
				<key>placeholder</key>
				<string>请填写18位身份证号码</string>
				<key>checkRegexp</key>
				<string>(\d|x|X){18}</string>
				<key>checkErrorMessage</key>
				<string>请填写真实的身份证号码</string>
			</dict>
			<dict>
				<key>serverKeyName</key>
				<string>QQ</string>
				<key>serverKey</key>
				<string>qq</string>
				<key>placeholder</key>
				<string>请填写你的QQ号码</string>
				<key>checkRegexp</key>
				<string>(\d|x|X){4,}</string>
				<key>checkErrorMessage</key>
				<string>请填写正确的QQ号码</string>
			</dict>
			<dict>
				<key>datasource</key>
				<string>marry</string>
				<key>cellName</key>
				<string>ActionSheetCell</string>
				<key>serverKeyName</key>
				<string>婚姻状况</string>
				<key>serverKey</key>
				<string>married</string>
				<key>placeholder</key>
				<string>请选择你的婚姻状况</string>
				<key>checkErrorMessage</key>
				<string>你还没有选择你的婚姻状况</string>
			</dict>
			<dict>
				<key>datasource</key>
				<string>schools</string>
				<key>cellName</key>
				<string>SchoolCell</string>
				<key>serverKeyName</key>
				<string>毕业学校</string>
				<key>serverKey</key>
				<string>school</string>
				<key>placeholder</key>
				<string>请填写你的学校</string>
				<key>checkErrorMessage</key>
				<string>你还没有填写你的学校名称</string>
			</dict>
			<dict>
				<key>datasource</key>
				<string>degrees</string>
				<key>cellName</key>
				<string>ActionSheetCell</string>
				<key>serverKeyName</key>
				<string>学历</string>
				<key>serverKey</key>
				<string>degree</string>
				<key>placeholder</key>
				<string>请选择你的学历</string>
				<key>checkErrorMessage</key>
				<string>你还没有选择你的学历</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>display</key>
		<true/>
		<key>content</key>
		<array>
			<dict>
				<key>cellName</key>
				<string>FormTimeCell</string>
				<key>serverKeyName</key>
				<string>入职时间</string>
				<key>serverKey</key>
				<string>time</string>
				<key>placeholder</key>
				<string>入职时间</string>
				<key>checkErrorMessage</key>
				<string>入职时间有误</string>
			</dict>
			<dict>
				<key>datasource</key>
				<string>positions</string>
				<key>cellName</key>
				<string>ActionSheetCell</string>
				<key>serverKeyName</key>
				<string>职位</string>
				<key>serverKey</key>
				<string>positions</string>
				<key>placeholder</key>
				<string>请选择你的职位</string>
				<key>checkErrorMessage</key>
				<string>你还没有选择你的职位</string>
			</dict>
			<dict>
				<key>datasource</key>
				<string>areas</string>
				<key>cellName</key>
				<string>LocationCell</string>
				<key>serverKeyName</key>
				<string>居住地址</string>
				<key>serverKey</key>
				<string>address</string>
				<key>placeholder</key>
				<string>请输入居住地址</string>
				<key>checkErrorMessage</key>
				<string>居住地址输入有误</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
